@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

body {
  /* font-family: "Raleway", sans-serif; */
  font-family: "Roboto", sans-serif;
}
nav {
  background-color: #dcf0fb;
}

.jumbotron {
  background-color: #dcf0fb;
  background-image: url("../images/bg-image.png");
  background-repeat: no-repeat;
  background-position: right;
}

.jumbotron h1 {
  font-weight: bold;
}

.jumbotron p {
  font-size: medium;
}

.btn.btn-success {
  background-color: #4640de;
  border: none;
  border-radius: none;
}
header {
  background: #dcf0fb;
}

#explore {
  background-color: #f6f7fb;
}

.category {
  height: 8rem;
  background-color: #ffffff;
  margin: 5px;
}
